

.nav__wrapper {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 50px;
  /* box-shadow: 0px 7px 5px 0px rgba(38, 37, 37, 0.75);
  -webkit-box-shadow: 0px 7px 5px 0px rgba(38, 37, 37, 0.75);
  -moz-box-shadow: 0px 7px 5px 0px rgba(38, 37, 37, 0.75); */
}

.nav {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
}

.left {
  flex: 4;
  padding: 10px 0;
}

.left:hover {
  color: aliceblue;
}

.right {
  display: flex;
}

.link {
  padding: 10px 20px;
}
.link:hover {
  color: rgb(146, 146, 148);
}

.menu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .menu {
    display: block;
    width: 80px;
    overflow: hidden;
    margin-right: 1rem;
    z-index: 10000000;
  }

  .right {
    display: none;
  }

  .nav__wrapper {
    height: 50px;
  }

  .nav {
    max-width: 90%;
    margin-top: 20px;
  }

  .left {
    font-size: larger;
  }
}

.menu__checkbox {
  display: none;
}

.menu__label {
  position: relative;
  display: block;
  height: 29px;
  cursor: pointer;
  z-index: 25000000;
}

.menu__label:before,
.menu__label:after,
.menu__text__bar {
  position: absolute;
  left: 0;
  width: 90%;
  margin: 10px 0;
  height: 5px;
  background-color: #fff;
}

.menu__label:before,
.menu__label:after {
  content: "";
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

.menu__label:before {
  top: 0;
}

.menu__label:after {
  top: 12px;
}

.menu__text__bar {
  top: 24px;
}

.menu__text__bar:before {
  content: "MENU";
  position: absolute;
  top: 0.9rem;
  right: 0;
  left: 0;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.menu__checkbox:checked + .menu__label:before {
  left: -80px;
}

.menu__checkbox:checked + .menu__label:after {
  left: 80px;
}

.menu__checkbox:checked + .menu__label .menu__text__bar:before {
  -webkit-animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeWhileMovingUp 0.8s ease 0.2s forwards,
    shakeWhileMovingDown 0.2s ease 0.8s forwards;
  animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeWhileMovingUp 0.8s ease 0.2s forwards,
    shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

.menu__nav__items {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(25%, #0e141b),
    color-stop(0, #254047),
    color-stop(50%, #0667a3),
    color-stop(0, #329bdd),
    color-stop(75%, #4fa3f2),
    color-stop(0%, #5e52ff),
    color-stop(90%, #4e47d5)
  );
  background: linear-gradient(
    to left,
    #0e141b 25%,
    #254047 0,
    #0667a3 50%,
    #329bdd 0,
    #4fa3f2 75%,
    #5e52ff 0%,
    #4e47d5 90%
  );

  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  background-size: 100% 100%;
  visibility: hidden;
  width: 400%;
}

.menu__nav__items__list {
  position: absolute;
  padding: 1rem 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-10%, -50%);
  transform: translate(-10%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.menu__nav__items__list li {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  font-family: "Arial";
}

.menu__checkbox:checked ~ .menu__nav__items {
  visibility: visible;
  -webkit-transform: translateX(-83%);
  transform: translateX(-83%);
}

@-webkit-keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -23px;
  }
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -23px;
  }
}

@-webkit-keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@-webkit-keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}
/*# sourceMappingURL=res.css.map */
