.p {
  position: absolute;
  font-family: "Alumni Sans", sans-serif;
  left: 0;
  right: 0;
  height: 90vh;
  width: 100vw;
  font-size: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.side__nav {
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 0%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
}



.linkedIn  {
  color: #0a66c2;
  font-size: 1.5rem;
}


.twitter {
  color: #1da1f2;
  font-size: 1.5rem;
}

.github {
  color: #666666;
  font-size: 1.5rem;
}

.email {
  color: white;
  font-size: 1.5rem;
}




@media screen and (max-width:600px) {

  .body{
    width: 90%;
    flex-direction: column;
    height: 75vh;
  }

  .p{
    font-size: 5rem;
  }

  .main__div{
    width: 100%;
    height: 75vh;
    flex-direction: column;
  }

  .my__desc{
    font-size: 40px;
  }

  .image__div{
    position: absolute;
    top:10%;
    left: 0;
    height: 15rem;
    width: 15rem;
  }

  .side__nav{
    position: relative;
    flex-direction: row;
    height: auto;
    align-self: center;
    padding: 0;
    
  }
}

@media screen and (max-width:960px) {
  .body{
    width: 90%;
    flex-direction: column;
    height: 75vh;
  }

  .main__div{
    width: 100%;
    height: 75vh;
    flex-direction: column;
    justify-content: flex-start;
    /* padding-left: 5rem; */
  }
  .side__nav{
  height: 30vh;
  }
}