.body {
  color: #ffffff;
  height: 100vh;
  width: 80%;
  /* overflow-y: hidden; */
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.p {
  position: absolute;
  font-family: "Alumni Sans", sans-serif;
  left: 0;
  right: 0;
  height: 90vh;
  width: 100vw;
  font-size: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main__div {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Alumni Sans", sans-serif;
}

.image__div{
  height: 20rem;
}

.my__name {
  --text-stroke-color: rgba(255,255,255,0.9);
  font-size: 100px;
  padding: 0;
  margin: 0;
  font-family: "Arial";
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.my__desc {
  font-size: 60px;
  padding: 0;
  margin: 0;
}

.side__nav {
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 0%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
}



.linkedIn  {
  color: #0a66c2;
  font-size: 1.5rem;
}


.twitter {
  color: #1da1f2;
  font-size: 1.5rem;
}

.github {
  color: #666666;
  font-size: 1.5rem;
}

.email {
  color: white;
  font-size: 1.5rem;
}

.hire__me{
  border: none;
  background-color: transparent;
  margin-top: 20px;
  color: white;
}

.hire__link{
  border: rgb(72, 72, 235) solid 2px;
  padding: 10px 20px;
  border-radius: 13px;
}


@media screen and (max-width:480px) {

  .body{
    width: 90%;
    flex-direction: column;
  }

  .p{
    font-size: 5rem;
  }

  .main__div{
    width: 100%;
    height: 85vh;
  }

  .my__desc{
    font-size: 40px;
  }

  .image__div{
    position: absolute;
    top:10%;
    left: 0;
    height: 15rem;
    width: 15rem;
  }

  .side__nav{
    position: relative;
    flex-direction: row;
    height: auto;
    /* margin: 0; */
    align-self: center;
    padding: 0;
  }
}