

.projectdiv {
  position: relative;
  width: 90%;
  margin: 0 auto;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: column;
}

.projectdiv:last-child {
  border-bottom: none;
}

.project__name {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.project__name__normal, .project__name__hover{
  font-size: 7rem;
  /* position: relative; */
  --text-stroke-color: rgba(255,255,255,0.9);
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px var(--text-stroke-color);
}

.project__name__hover {
  overflow: hidden;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  --text-stroke-color: #28D7C0;
  -webkit-text-fill-color: #28D7C0;
  white-space: nowrap;
}

.project__name:hover .project__name__hover {
  width: 100%;
  animation: stagger 1.5s;
}

@keyframes stagger {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



.project__header {
  --text-stroke-color: rgba(255,255,255,0.9);
  text-align: center;
  font-size: 3rem;
  padding-top: 3rem;
  font-family: "Arial";
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.project__subheader{
  text-align: center;
  font-size: 1.125rem;
}

.project__card {
  padding: 20px 10px;
  background-color: #1E1E1E;
  border-bottom: white 2px solid;
  height: 16rem;
}

.project__card:last-child {
  border: none;
}

.project__left {
  flex: 5;
  height: 100%;
}


.project__right {
  flex: 3;
  padding-left: 10px;
}

.stack__list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.listed__item {
  background-color: rgba(72, 72, 235, 0.6);
  border-radius: 5px;
  padding: 10px 10px;
  margin: 5px 3px;
}

.link__icon {
  font-size: 20px;
  margin-right: 1.5rem;
}


.advice {
  font-size: 1.125rem;
  padding: 2rem;
}


.button {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  /* --animation-color: #4848EB; */
  --animation-color: #28D7C0;
  --fs-size: 2rem;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover__text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover__text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
 

@media screen and (max-width: 960px) {
  .project__page {
    width: 95%;
  }
  .project__card {
    flex-direction: column;
  }
}

